/* .main-bg {
    background-color: #a3b0ca;
} */

.main-bg{
    background-image: url("https://res.cloudinary.com/hl3mshpcy/image/upload/b_rgb:ffffff,o_51/v1676376227/pexels-simon-berger-688660_qlofre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

a {
    text-decoration: none;
    color: inherit;
}


/* a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; } */


footer {
  bottom: 0;
  width: 100%;
}

.copyright-p {
    font-size: x-small;
}

.post-details {
    opacity: 0.9;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.author {
    margin-top: 4px;
    text-transform: uppercase;
}

.category,
.category-dropdown {
    text-transform: capitalize;
}

.image-container {
    position: relative;
}

.post-link {
    text-decoration: none;
}

.update-icon,
.register-icon,
.login-icon,
.logout-icon,
.profile-icon,
.plus-icon,
.post-button,
.home-icon,
.category-icon,
.back-arrow {
    color: white;
}
