/* .main-bg {
    background-color: #a3b0ca;
} */

.main-bg{
    background-image: url("https://res.cloudinary.com/hl3mshpcy/image/upload/b_rgb:ffffff,o_51/v1676376227/pexels-simon-berger-688660_qlofre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

footer {
  bottom: 0;
  width: 100%;
}

