/* ---- Custom Style Sheet ---- */

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@500&display=swap');
/* Variables to by used throughout the style sheet */

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* -- Main Background -- */

.main-bg{
    background-image: url("https://res.cloudinary.com/hl3mshpcy/image/upload/f_webp/v1676911230/pexels-pixabay-235621_bp6nxd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Cabin', sans-serif;
}

/* Links decorations */

a {
    text-decoration: none;
    color: inherit;
}

.post-link {
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

/* Footer */

footer {
  bottom: 0;
  width: 100%;
}

.copyright-p {
    font-size: x-small;
}

/* Buttons */

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.white-icon {
    color: white;
}

/* Posts */

.author {
    margin-top: 4px;
    text-transform: uppercase;
}

.post-image {
    max-height: 300px;
    max-width: 300px;
}

.image-container {
    position: relative;
}

/* Navigation styles */

.category,
.category-dropdown {
    text-transform: capitalize;
}

.category-card:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    color: white;
}

.nav-link:hover,
.active {
  text-decoration: underline;
}

.nav-link {
    color: hsl(0, 0%, 100%) !important;
}

/* Password Change Page */

#id_password {
    display: none;
}

.helptext {
    display: none;
}

/* Custom Error Page */

.max-w-600 {
    max-width: 600px;
}
