{% extends 'base.html' %}
{% block title %}Winter Moments | Change Password{% endblock %}
{% block content %}

<br><br>
<!-- change form password -->
<div class="card bg-dark text-white mx-auto" style="max-width: 45rem;">
    <div class="card-body">
        <h1 class="card-title">Change Password</h1>
        <br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_old_password" class="form-label">Old Password</label>
                    <input type="password" name="old_password" class="form-control" required id="id_old_password">
                </div>
                <div class="mb-3">
                    <label for="id_new_password1" class="form-label">New Password</label>
                    <input type="password" name="new_password1" class="form-control" maxlength="50" required id="id_new_password1">
                </div>
                <div class="mb-3">
                    <label for="id_new_password2" class="form-label">Confirm Password</label>
                    <input type="password" name="new_password2" class="form-control" maxlength="50" required id="id_new_password2">
                </div>
                <br>
                <button class="btn btn-light text-dark">Change Password <i class="fa-solid fa-key"></i></button>
            </form>
        </div>
    </div>
</div>
<br><br>

{% endblock %}