{% extends 'base.html' %}
{% block title %}Winter Moments | Settings{% endblock %}
{% block content %}

<br><br>
<!-- User settings such as username and email are displayed, 
    change password form is provided via a link 
-->
<div class="card bg-dark text-white mx-auto" style="max-width: 45rem;">
    <div class="card-body">
        <h1 class="card-title">Settings</h1>
        <br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <div class="mb-3">
                    <a href="../password/"><em>Change Password</em></a>
                </div>
                <br>
                <button class="btn btn-light text-dark">Update Settings <i class="fa-solid fa-gear"></i></button>
            </form>
        </div>
    </div>
</div>
<br><br>
{% endblock %}