{% extends 'base.html' %}
{% block title %}Winter Moments | Edit Profile{% endblock %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
    <h1>Edit Profile</h1>

    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Update Profile <i class="fa-solid fa-paper-plane post-button"></i></button>
    </div>

    <br/><br/>
{% else %}  

You're not allowed here!

{% endif %}

{% endblock %}