{% extends 'base.html' %}
{% block title %}Winter Moments | Login{% endblock %}
{% block content %}


<h1>Login</h1>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="InputUsername" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="InputUsername">
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="InputPassword">
            <div class="form-text">Not a User? <a href="{% url 'register' %}">Register</a></div>
        </div>
        <br/>
        <button class="btn btn-dark">Login <i class="fa-solid fa-right-to-bracket login-icon"></i></button>
    </form>
</div>   


{% endblock %}