{% extends 'base.html' %}
{% block title %}Winter Moments | Register{% endblock %}
{% block content %}
<br/>
{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 mx-auto text-center" style="max-width: 30rem;">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="card bg-dark text-white mx-auto" style="max-width: 45rem;">
    <div class="card-body">
        <h1 class="card-title">Register</h1>
        <br/>
        <div class="form-text text-white">Already a User? &nbsp;<small><em><a href="{% url 'login' %}">Login</a></em></small></div>
        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <br/>
                <button class="btn btn-light text-dark">Register <i class="fa-solid fa-pen"></i></button>
            </form>
        </div>
    </div>
</div>
<br/><br/>
    
{% endblock %}   