{% extends 'base.html' %}
{% block title %}Winter Moments | Register{% endblock %}
{% block content %}
<br/><br/>
<div class="card bg-dark text-white mx-auto" style="max-width: 60rem;">
    <div class="card-body">
        <h1 class="card-title">Register</h1>
        <br/>
        <div class="form-text text-white">Already a User? &nbsp;<small><em><a href="{% url 'login' %}">Login</a></em></small></div>
        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    <input type="text" name="username" maxlenght="155" autofocus class="form-control" required id="id_username">
                    <span><small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small></span>
                </div>
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">First name</label>
                    <input type="text" name="first_name" class="form-control" maxlength="50" required id="id_first_name">
                </div>
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Last name</label>
                    <input type="text" name="last_name" class="form-control" maxlength="50" required id="id_last_name">
                </div>
                <div class="mb-3">
                <label for="id_email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="id_email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text text-white"><small>We'll never share your email with anyone else.</small></div>
                </div>
                <div class="mb-3">
                <label for="id_password1" class="form-label">Password</label>
                <input type="password" name="password1" autocomplete="new-password" class="form-control" required id="id_password1">
                </div>
                <div class="mb-3">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label for="id_password2" class="form-label">Password confirmation</label>
                    <input type="password" name="password2" autocomplete="new-password" class="form-control" required id="id_password2">
                    <span><small>Enter the same password as before, for verification.</small></span>
                </div>
                <br/>
                <button class="btn btn-light text-dark">Register <i class="fa-solid fa-pen"></i></button>
            </form>
        </div>
    </div>
</div>
<br/><br/>
    
    
  
{% endblock %}   