{% extends "base.html" %}
  {% block title %}500 - Server Error{% endblock %}
  {% block content %}
  <div class="container-fluid py-5 d-flex flex-row justify-content-center">
    <div class="max-w-600 text-center">
      <i class="fas fa-exclamation display-4"></i>
      <h1 class="display-4">500 Internal Server Error </h1>
      <p class="display-6">Oh dear, something has gone wrong.</p>
      <p class="display-6">Please contact the Admin to solve this if you have time!</p>
    </div>
  </div>
{% endblock %}