{% extends 'base.html' %}
{% block title %}Winter Moments | Add Post{% endblock %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
    <br/><br/>
    <div class="card bg-dark text-white mx-auto" style="max-width: 45rem;">
        <div class="card-body">
            <h1 class="card-title">Add Post</h1>
            <br/>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Title</label>
                        <input type="text" name="title" maxlenght="255" autofocus class="form-control" required id="id_title">
                    </div>
                    <div class="mb-3">
                        <label for="id_title_tag" class="form-label">Title tag</label>
                        <input type="text" name="title_tag" class="form-control" maxlength="255" required id="id_title_tag">
                    </div>
                    <div class="mb-3">
                        <label for="id_category" class="form-label">Category</label>
                        <input type="text" name="category" class="form-control" maxlength="255" required id="id_category">
                    </div>
                    <div class="mb-3">
                        <label for="id_featured_image" class="form-label">Image</label>
                        <input type="file" name="featured_image" class="form-control" id="id_featured_image">
                    </div>
                    <div class="mb-3">
                        <label for="id_last_name" class="form-label">Body</label>
                        <textarea name="body" cols="40" rows="10" class="form-control" id="id_body"></textarea>
                        <input type="hidden" name="author" class="form-control" value="1" id="username-field">
                    </div>
                    <br/>
                    <button class="btn btn-light text-dark">Post <i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
    <br/><br/>

    <script>
        var name = "{{ user.id }}";
        
        document.getElementById("username-field").value = name;

    </script>
    

{% else %}  

You're not allowed here!

{% endif %}

{% endblock %}