{% extends 'base.html' %}
{% block title %}Winter Moments | Add Post{% endblock %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
    <br><br>
    <div class="card bg-dark text-white mx-auto" style="max-width: 45rem;">
        <div class="card-body">
            <h1 class="card-title">Add Post</h1>
            <br>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <br>
                    <button class="btn btn-light text-dark">Post <i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
    <br><br>

    <!-- 
        This script adds username automatically to post form -->
    <script>
        var name = "{{ user.id }}";
        
        document.getElementById("username-field").value = name;

    </script>
    
{% endif %}

{% endblock %}