{% extends 'base.html' %}
{% block title %}Winter Moments | Add Category{% endblock %}
{% block content %}

{% if user.is_staff %}
    <br/><br/>
    <div class="card bg-dark text-white mx-auto" style="max-width: 45rem;">
        <div class="card-body">
            <h1 class="card-title">Add Category</h1>
            <br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_name" class="form-label">Category Name</label>
                        <input type="text" name="name" maxlength="255" required class="form-control" id="id_name">
                    </div>
                    <br/>
                    <button class="btn btn-light text-dark">Add Category <i class="fa-solid fa-inbox"></i></button>
                </form>
            </div>
        </div>
    </div>
{% else %}  

You're not allowed here!

{% endif %}

{% endblock %}