{% extends 'base.html' %}
{% block title %}Winter Moments | Add Post{% endblock %}
{% block content %}


{% if user.is_authenticated %}
    <h1>Add Post</h1>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ body|safe }}
            {{ form.as_p }}
            <button class="btn btn-dark">Post <i class="fa-solid fa-paper-plane post-button"></i></button>
    </div>

    <script>
        var name = "{{ user.id }}";
        
        document.getElementById("username-field").value = name;

    </script>
    <br/><br/>
{% else %}  

You're not allowed here!

{% endif %}

{% endblock %}