{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>
    {% block title %}
    Winter Blog
    {% endblock %}
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column main-bg bg-dark">

{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark" data-bs-theme="dark">

    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="https://res.cloudinary.com/hl3mshpcy/image/upload/v1676374654/logo-no-background_qj7m4q.png" alt="Logo" width="80" height="50" class="d-inline-block align-text-top">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            {% if cat_menu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu">

                {% for item in cat_menu %}

                  <li><a class="dropdown-item category-dropdown" href="{% url 'category' item|slugify %}">{{ item }}</a></li>
                  
                {% endfor %}

              </ul>
            </li>
            {% else %}

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'category-list' %}">Categories</a>
            </li>

            {% endif %}

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_post' %}">New Post <i class="fa-solid fa-plus plus-icon"></i></a>
            </li>

            <li class="nav-item dropdown d-flex ml-auto">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu">

                {% if user.profile.id %}
                <li><a class="dropdown-item" href="{% url 'profile_page' user.profile.id %}">My Profile <i class="fa-solid fa-user profile-icon"></i></a></li>
                <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile <i class="fa-solid fa-user-pen profile-icon"></i></a></li>
                {% endif %}

                {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'add_category' %}">Add Category <i class="fa-solid fa-list-ul plus-icon"></i></a></li>
                <li><a class="dropdown-item" href="../admin/">Admin <i class="fa-solid fa-lock plus-icon"></i></a></li>
                {% endif %}
                
                <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Settings <i class="fa-solid fa-gears profile-icon"></i></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout <i class="fa-solid fa-arrow-right-from-bracket logout-icon"></i></a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% else %}
  <nav class="navbar sticky-top bg-dark navbar-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="https://res.cloudinary.com/hl3mshpcy/image/upload/v1676374654/logo-no-background_qj7m4q.png" alt="Logo" width="80" height="50" class="d-inline-block align-text-top">
      </a>
    </div>
  </nav>
{% endif %}
  <div class="container flex-shrink-0">
    {% block content %}

    {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="footer py-3 mt-auto bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        Follow Us:
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f ms-3"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter ms-3"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram ms-3"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube ms-3"></i></a>
      </p>
      <p class="m-0 text-center text-white copyright-p">
        Created by Luca Barbero © 2023
      </p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/ca4c815917.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
  
</body>

</html>