{% extends 'base.html' %}
{% block title %}Winter Moments | Categories{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <br>  
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="card display-5 mx-auto bg-dark text-white" style="max-width: 16rem">Categories</h1>
            </div>
        </div>
    </div>
    <br>  
    {% for item in cat_menu_list %}
    <div class="container-fluid">
        <div class="row">
            <div class="card col-12 mb-2 mx-auto text-center category-card" style="max-width: 16rem;">
                <div class="card-body">
                    <p class="h4 text-center card-text"><a class="dropdown-item category-dropdown" href="{% url 'category' item|slugify %}">{{ item }}</a></p>
                </div>
            </div>
        </div>
    </div>        
    {% endfor %}
    <br>
    <br>

{% endif %}
{% endblock %}