{% extends 'base.html' %}

{% block title %}Winter Moments | Blog{% endblock %}

{% block content %}

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> 
        - <a href="{% url 'category' post.category %}">{{ post.category }}</a>
        - {{ post.author.first_name }} 
        {{ post.author.last_name }} - 
        {{ post.created_on }}

    {% if user.is_authenticated %}

        - <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
        <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>

    {% endif %}
    <br/>
    {{ post.body|truncatewords:20 }}
    </li>
{% endfor %}
</ul>

{% endblock %}