{% extends 'base.html' %}

{% block title %}Winter Moments | Blog{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3" style="width: 100%;">
            <div class="row">
                {% for post in object_list %}
                <div class="col-lg-12 col-xl-12">
                    <div class="card mb-3 mx-auto" style="max-width: 45rem;">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top" src="{{ post.featured_image.url }}">
                                <div class="author">
                                    <h6><a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author.username }}</a></h6>
                                </div>
                            </div>
                            <div>
                                <h3 class="card-title">{{ post.title }}</h2>
                                <p class="card-text category">{{ post.category }}</p>
                                <a href="{% url 'post-detail' post.pk  %}" class="btn btn-dark btn-sm post-link">View Post</a>
                            </div>
                            <hr />
                            <p class="card-text text-muted h6">
                                {{ post.created_on}}
                                &nbsp;
                                <i class="far fa-heart"></i>
                                {{ post.likes.count }}
                                <i class="far fa-comment-dots"></i>
                                {{ post.comments.count }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<br/><br/>

{% endblock %}