{% extends 'base.html' %}
{% block title %}Winter Moments | {{ post.title_tag }}{% endblock %}
{% load static %}

{% block content %}
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3" style="width: 100%;">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="card text-bg-light mx-auto mb-3" style="max-width: 45rem;">
                        <div class="card-header bg-light">
                            <div class="row">
                                <div class="col-2 text-center align-self-start">
                                    {% if post.author.profile.profile_picture %}
                                    <img src="{{ post.author.profile.profile_picture.url }}" class="image-fluid rounded-circle" alt="Profile Picture" height=60px width=60px>
                                    {% else %}
                                    <img src="https://res.cloudinary.com/hl3mshpcy/image/upload/v1677073032/8474278_aiqqhn.png" class="image-fluid rounded-circle" alt="Profile Picture" height=60px width=60px>
                                    {% endif %}
                                </div>
                                <div class="col-10 bg-transparent">
                                    <div class="card-body">
                                        <h3 class="card-text d-inline fs-3 fw-light">
                                           <a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author.username }}</a> 
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-body bg-light fw-light text-center fs-4">{{ post.title }}</h4>
                            <img class="card-image-top image-fluid rounded col-lg-12 col-xl-12" src="{{ post.featured_image.url }}" width="100%" style = "max-height: 30rem ;">
                            {% if post.featured_image %}
                            <br/>
                            <br/>
                            {% endif %}
                            <p class="card-text text-center fs-5 fw-light">{{ post.body | safe }}</p>
                                {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'like_post' post.pk %}" method="POST">
                                    
                                        {% csrf_token %}
                                        {% if user in post.likes.all %}
                                        
                                        <button type="submit" name="post_id" value="{{post.id}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                        {% else %}
                                        <button type="submit" name="post_id" value="{{post.id}}" class="btn-like"><i class="far fa-heart"></i></button>
                                        {% endif %}
                                    </form>
                                        
                                {% endif %}
                                    <span class="text-secondary">{{ post.likes.count }}</span>
                                    &nbsp;
                                    <i class="far fa-comment-dots"></i>
                                    <span class="text-secondary">{{ post.comments.count }}</span>
                            
                            <p class="card-text"> 
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Comments
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            {% if not post.comments.all %}
                                            <strong>No comments yet.</strong><br> 
                                            {% else %}
                                            <small><a href="{% url 'add_comment' post.pk %}">Add Comment</a></small>
                                            <br/><br/>
                                            {% for comment in post.comments.all %}
                                            <small><strong>{{ comment.name }}</strong></small>
                                            <br/>
                                            <small>{{ comment.body }}</small>
                                            <br/>
                                            <small class="text-muted">{{ comment.created_on }}</small>
                                            <br/><br/>
                                            {% endfor %}
                                            {% endif %}
                                            <small><a href="{% url 'add_comment' post.pk %}">Add Comment</a></small>
                                            <br/>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="card-footer">
                            <p>{{ post.created_on }}</p>
                                {% if user.is_authenticated %}
                                    {% if user.id == post.author.id %}
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
                                        <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary btn-sm me-md-2">Edit</a>
                                        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                    {% endif %}
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>



{% endblock %}

