{% extends 'base.html' %}
{% block title %}Winter Moments | {{ post.title_tag }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5" style="width: 100%;">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="card text-bg-light mx-auto mb-3" style="max-width: 60rem;">

                        <div class="card mb-3">
                            <div class="row">
                                <div class=" card-title col-1">
                                    <img src="{{ post.author.profile.profile_picture.url }}" class="image-fluid rounded-circle" alt="Profile Picture" height=50px width=50px>
                                </div>
                                <div class="col-11">
                                    <div class="card-body">
                                        <h5 class="card-text text-left d-inline">
                                            {{ post.author.username }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h1 class="card-header text-center">{{ post.title }}</h1>
                        <div class="card-body text-center">
                            <img class="card-image-top image-fluid rounded col-lg-12 col-xl-12" src="{{ post.featured_image.url }}" width="100%" height="auto">
                            <br/>
                            <p class="card-text">{{ post.body | safe }}</p>
                            <br/>
                                {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'like_post' post.pk %}" method="POST">
                                    <!-- <form action="{% url 'like_post' post.pk %}" method="POST"> -->
                                        {% csrf_token %}
                                        {% if user in post.likes.all %}
                                        <!-- <button type="submit", name="post_id", value="{{ post.id }}", class="btn {% if user in post.likes.all %}btn-primary{% else %}btn-outline-primary{% endif %} btn-sm" >Like</button> -->
                                        <button type="submit" name="post_id" value="{{post.id}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                        {% else %}
                                        <button type="submit" name="post_id" value="{{post.id}}" class="btn-like"><i class="far fa-heart"></i></button>
                                        {% endif %}
                                    </form>
                                {% else %}
                                    <small><strong><a href="{% url 'login' %}">Login</a></strong> to like</small>
                                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                                        

                                {% endif %}
                                    <span class="text-secondary">{{ post.likes.count }} </span>
                        </div>
                        <div class="card-footer">
                            <p>By: {{ post.author.username }} - {{ post.created_on }}</p>
                                {% if user.is_authenticated %}
                                    {% if user.id == post.author.id %}
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
                                        <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary btn-sm me-md-2">Edit</a>
                                        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                    {% endif %}
                                {% endif %}
                                <!-- <img class="rounded-circle" src="{{ post.author.profile.profile_picture.url }}" width=75 height=75 alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-dark"><i class="fa-solid fa-arrow-left back-arrow"></i> Back</a>
</div>
<br/><br/>
<!-- <div class="card mb-3" style="max-width: 60rem;">
    <div class="row">
        <div class="col-2">
            <img src="{{ post.author.profile.profile_picture.url }}" class="img-fluid rounded-start" alt="Profile Picture" height=75 width=75>
        </div>
        <div class="col-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{ post.author.username }}
                </h5>
                <p class="card-text">{{ post.author.profile.bio }}</p>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}
