{% extends 'base.html' %}
{% block title %}Winter Moments | Update Post{% endblock %}
{% block content %}
<br><br>
    <!-- if user is post author will be able to edit post -->
    {% if user.id == post.author.id %}
        <div class="card bg-dark text-white mx-auto" style="max-width: 45rem;">
            <div class="card-body">
                <h1 class="card-title">Edit Post</h1>
                <br/>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <br/>
                        <button class="btn btn-light text-dark">Update <i class="fa-solid fa-pen-to-square"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
    
    {% endif %}

{% endblock %}